# Eclipse IDE
.project
.cproject
.settings/

# IkomiaCore / IkomiaStudio
IkomiaStudio.pro.user
Build/
build
LocalSettings.pri
LocalSettings.cmake
Doc/Internal/html
Doc/Internal/latex
.idea
CMakeLists.txt.user*
